.user-detail {
    .img-p {
        text-align: center;
        padding: 5px;
        .avatar {
            vertical-align: middle;
            width: 130px;
            height: 130px;
            border-radius: 50%;
        }
    }
    h1,
    h4 {
        color: white;
    }
    p {
        color: white;
        font-size: 500 !important;
        margin-bottom: 5px;
    }
    .pt-2-5 {
        padding-top: 2.5rem;
    }
}
