<div class="modal-body">
    <div class="container common-alert">
        <a href="javascript:void(0)" (click)="close('N')"><i class="fa fa-times" aria-hidden="true"></i></a>
        <h2>{{title}}</h2>
        <form [formGroup]="moduleForm" (ngSubmit)="submitForm(moduleForm.value)">
            <div class="pt-2 row">
                <div class="pb-4 col-md-12 p-r-l-10">
                    <label id="lblModuelName">Module Name</label>
                    <input type="text" class="form-control" name="ModuelName" id="txtModuelName" formControlName="moduelName">
                </div>
                <div class="pb-4 col-md-12 p-r-l-10">
                    <label id="lblRole">Role</label>
                    <ng-select [multiple]="true" [clearable]="true"  formControlName="role" placeholder="Select role">
                        <ng-option *ngFor="let item of roleList" [value]="item._id">{{item.name}}</ng-option>
                    </ng-select>
                </div>
                <div class="pb-4 col-md-12 p-r-l-10">
                    <label id="lblRoute">Route Path</label>
                    <input type="text" class="form-control" name="Route" id="txtRoute" formControlName="route">
                </div>
                <div class="pb-4 col-md-11 ml-3">
                    <input type="file" class="custom-file-input" id="customFile" #fileUploadImg
                        accept="image/png, image/gif, image/jpeg" (change)="fileSelectChange($event)">
                    <label class="custom-file-label" for="customFile">{{profileImg == ''? 'Upload file' :
                        profileImg}}</label>
                </div>
                <div class="pb-2 col-md-6">
                    <button type="submit" class="btn btn-lg btn-block btn-success" [disabled]="!moduleForm.valid">{{title == '' ? 'Update' : 'submit'}}</button>
                </div>
                <div class="pb-2 col-md-6">
                    <button type="button" class="btn btn-lg btn-block btn-success" (click)="close('N')">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>