<div class="body-postition">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            <h3>User Permission</h3>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-12 pull-right">
            <button type="button" class="btn btn-lg btn-block btn-success" (click)="addNewModule()">Add new module</button>
        </div> -->
    </div>
    <div class="pt-2 row">
        <div class="pt-4 pb-2 col-md-12 col-lg-12 col-sm-12">
            <div id="user-permission-table" class="tabulator-table"></div>
        </div>
    </div>
</div>