.card {
    background-color: transparent !important;
    border: 0px !important;
    height: 20vh;
    .card-body {
        text-align: left;
        padding: 0% 0%;
        img {
            width: 100% !important;
            height: 100% !important;
        }
        .card-detail {
            color: white;
            font-weight: 400;
            font-size: 16px;
        }
        span{
            padding: 0px;
        }
        .btn-viewmore {
            background-color: #f3663b;
            color: white;
            text-transform: uppercase;
            text-align: center;
            width: 14vh;
            font-weight: 500;
            font-size: 10px;
            float: right;
        }
    }
}
