<div class="body-postition">
    <div class="row">
        <h4 class="pl-2">Category Wise Sales</h4>
        <div class="pt-4 col-lg-12 col-md-12 col-sm-12">
            <echarts [options]="chartOption" [autoResize]="true"  [initOpts]="initOpts" class="bar-chart"></echarts>
        </div>
    </div>
    <div class="pt-4 row">
        <h4 class="pl-2">Month Wise Sales</h4>
        <div class="pt-4 col-lg-12 col-md-12 col-sm-12">
            <echarts [options]="chartOption1" [autoResize]="true"  [initOpts]="initOpts" class="bar-chart"></echarts>
        </div>
    </div>
</div>